<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292142940477-2993koc5a49rb4865dbmindmn230e5s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292142940477-2993koc5a49rb4865dbmindmn230e5s0</string>
	<key>API_KEY</key>
	<string>AIzaSyA5GMzoGfelCJ4I6-sbKzWw3ALdTNhPJm8</string>
	<key>GCM_SENDER_ID</key>
	<string>292142940477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockIt</string>
	<key>PROJECT_ID</key>
	<string>stockit-62cd6</string>
	<key>STORAGE_BUCKET</key>
	<string>stockit-62cd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292142940477:ios:65feaa599eb135e5ecc554</string>
</dict>
</plist>